body{
    font-size: 14px;
    background-color: #f0ffff;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex: 1 0 auto;
    text-align: center;
}

h4 {
    color: #008000;
}

input {
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #b2dada;
}

input:focus {
    box-shadow: 0px 0px 8px 3px #5086bd;
}

input[type=submit] {
  background: transparent;
}

footer{
    text-align: center;
    flex-shrink: 0;
    padding: 4px;
}