body{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    flex: 1 0 auto;
    text-align: center;
}

footer{
    text-align: center;
    flex-shrink: 0;
    padding: 4px;
}