body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  background-color: #dff7f7;
}

div.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex: 1 0 auto;
  text-align: center;
}

span.choice-box {
  height: 4em;
  width: 8em;
  border-radius: 15px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  color: #515a5a;
  font-size: 10em;
}

span.answer-box {
  height: 4em;
  width: 8em;
  border-radius: 15px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  color: #99a3a4;
  font-size: 10em;
}

table {
  margin: 10px 0;
  border: 1px solid black;
}

#wins {
  color: #008000;
}

#loses {
  color: #f5b7b1;
}

input {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #b2dada;
}

input:focus {
  box-shadow: 0px 0px 8px 3px #5086bd;
}

#submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  background-color: #5dade2;
  color: #ffffff;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 0;
  margin: 0 3rem;
  cursor: pointer;
}

footer {
  text-align: center;
  flex-shrink: 0;
  padding: 4px;
}

@media screen and (max-width: 600px) {
  div.page-container {
    height: 100%;
  }

  h4 {
    font-size: 28px;
  }

  #submit {
    margin: 40px auto;
    display: block;
  }

  footer {
    margin-top: 40px;
  }
}
